:host {
  ::ng-deep {
    .fr-box.fr-basic {
      .fr-wrapper {
        border: 0;
        border-bottom: 1px solid #949494;
        margin-bottom: 1px;
        background-color: transparent;
      }

      .fr-element {
        padding: 0;
        font-family: inherit;
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        min-height: auto;
      }
    }

    .fr-more-toolbar,
    .fr-toolbar,
    .fr-dropdown:after,
    .fr-dropdown-menu .fr-dropdown-wrapper {
      transition: none !important;
    }

    // Dialog jumping TA-T2762
    .fr-toolbar-open .fr-more-toolbar {
      display: block;
    }
    .fr-more-toolbar {
      display: none;
    }
    ///

    .fr-toolbar.fr-top {
      position: sticky;
      z-index: 2;
      border-radius: 0;
      background-color: #fff;

      .fr-btn-grp {
        margin: 0 20px 0 0;
        //position: relative;

        &:nth-child(1):after,
        &:nth-child(2):after {
          content: '';
          position: absolute;
          top: 9px;
          height: 30px;
          border-left: 1px solid #e5e5e5;
          margin-left: 10px;
        }
      }

      div:first-of-type:before {
        border: none;
      }

      &.fr-toolbar-open .fr-newline {
        height: auto;
      }

      .fr-btn-grp:first-child {
        margin-left: 0;
      }

      &.fr-top {
        border: 0;
      }

      .fr-newline {
        margin: 0;
      }

      .fr-more-toolbar {
        z-index: auto;
        display: flex;
        justify-content: center;
        padding-left: 0px !important;
      }

      /* Stop from sliding down */
      .fr-command.fr-btn {
        z-index: auto;

        &.fr-dropdown:after {
          right: 3px;
        }

        &.fr-dropdown.fr-selection {
          span {
            margin-right: 24px;
          }
        }

        &.fr-open {
          border-radius: 4px;
          margin: 4px 2px;
        }
      }
    }

    .fr-view {
      ol, ul {
        list-style-position: unset;
      }
    }

    .html-editor-container.init-on-click:not(.initialized) {
      .fr-toolbar {
        display: none;
      }
    }
  }

  &.disabled ::ng-deep {
    .fr-box.fr-basic {
      opacity: .5;
      pointer-events: none;

      .fr-wrapper {
        border: none;
      }
    }

    .disabled-line {
      display: block;
    }
  }
}

::ng-deep {
  .fr-popup {
    z-index: 1001 !important;
  }

  .fr-video-by-url-layer .fr-checkbox-line {
    display: none;
  }
}

.disabled-line {
  display: none;
  position: absolute;
  bottom: -1px;
  z-index: 1;
  background-image: linear-gradient(90deg,rgba(0,0,0,.42) 0,rgba(0,0,0,.42) 33%,transparent 0);
  background-size: 4px 100%;
  background-repeat: repeat-x;
  height: 1px;
  width: 100%;
}

.bottom-line {
  opacity: 0;
  transform-origin: 50%;
  transform: scaleX(0.5);
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  width: 100%;
  border-bottom: 2px solid #949494;
  position: absolute;
  bottom: -1px;
  z-index: 1;
}

:host {
  position: relative;
  display: block;

  &.focused {
    .bottom-line {
      opacity: 1;
      display: block;
      transform: scaleX(1);
      transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.1s cubic-bezier(0.25, 0.8, 0.25, 1),
        background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  }
}

::ng-deep {
  .fs-html-editor-mention-container {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    max-height: 300px;
    max-width: 500px;
    overflow: auto;
    display: block;
    z-index: 999999;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #fff;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      padding: 0 16px;
      cursor: pointer;
      line-height: 48px;
    }

    li.highlight,
    li:hover {
      background: #F5F5F5;
    }

    li.no-match {
      cursor: default;
    }
  }
}

