.sticky {
  position: sticky;
  bottom: 0;
  z-index: 1;
  padding: 10px 0;
}


fieldset {
  white-space: normal;
}

:host ::ng-deep {
  .mention {
    background: #CAD9E4;
    padding: 2px 3px;
    border-radius: 3px;
  }
}
