:host ::ng-deep {
  .fr-toolbar.fr-top {
    border: 0;
  }

  .fr-box.fr-basic {

    .fr-wrapper {
      border: 0;
      border-bottom: 1px solid #949494;
    }

    .fr-element {
      padding: 10px;
      font-family: inherit;
      color: inherit;
      font-size: inherit;
      line-height: inherit;
    }
  }

  .fr-toolbar {
    .fr-newline {
      margin: 0;
    }

    /* Stop from sliding down */
    .fr-command.fr-btn {

      &.fr-dropdown-menu .fr-dropdown-wrapper {
        transition: none;
      }

      &.fr-open {
        border-radius: 4px;
        margin: 4px 2px;
      }
    }
  }
}


.bottom-line {
  opacity: 0;
  transform-origin: 50%;
  transform: scaleX(0.5);
  transition: background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  width: 100%;
  border-bottom: 2px solid #949494;
  position: absolute;
  bottom: -1px;
  z-index: 1;
}

:host {
  position: relative;
  display: block;

  &.focused {
    .bottom-line {
      opacity: 1;
      display: block;
      transform: scaleX(1);
      transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.1s cubic-bezier(0.25, 0.8, 0.25, 1),
        background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  }
}
