// @import "./../app/froala/css/froala_editor.pkgd";
// @import "./../app/froala/css/froala_style";

@mixin fs-html-editor($theme) {
  $primary: mat-palette($theme);

  fs-html-editor.focused {
    .bottom-line {
      border-color: mat-color($primary);
    }
  }
}


fs-html-editor {
  position: relative;
  display: block;

  &.focused {
    .bottom-line {
      opacity: 1;
      display: block;
      transform: scaleX(1);
      transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.1s cubic-bezier(0.25, 0.8, 0.25, 1),
      background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  }
}


.fs-html-editor-default {
  p {
    margin: 10px 0;
  }

  hr {
    border: none;
    height: 1px;
    background-color: #d5d5d5;
  }

  table {
    border: none;
    border-collapse: collapse;
    empty-cells: show;
    max-width: 100%;

    th, td {
      padding: 5px;
      border: 1px solid #DDD;
      min-width: 5px;
    }

    th {
      background: #ececec;
      text-align: center;
    }
  }

  blockquote {
    border-left: 3px solid #ccc;
    margin: 5px 0;
    padding: 6px 16px;
    color: #6b6b6b;
  }

  p.code {
    font-family: monospace;
    background: #eaeaea;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
  }

  img {
    max-width: 100%;
  }

  li {
    margin: 5px 0;
    margin-left: 50px;

    &::before {
      display: inline-block;
      white-space: nowrap;
    }
  }

  ol, ul {
    padding: 0;
  }

  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
      ol {
        list-style-type: lower-roman;
        ol {
          list-style-type: decimal;
          ol {
            list-style-type: lower-alpha;
            ol {
              list-style-type: lower-roman;
            }
          }
        }
      }
    }
  }

  ul.checklist {
    list-style: none;
    ul {
      list-style: none;
    }

    li {

      &:before {
        content: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 408 408" version="1.1" viewBox="0 0 408 408" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M357,0H51C22.95,0,0,22.95,0,51v306c0,28.05,22.95,51,51,51h306c28.05,0,51-22.95,51-51V51C408,22.95,385.05,0,357,0z M357,357H51V51h306V357z"/></svg>');
        cursor: pointer;
        height: 1em;
        margin-left: -1.5em;
        margin-top: .125em;
        position: absolute;
        width: 1em;
      }

      &.checked {
        text-decoration: line-through;
        &:before {
          content: url('data:image/svg+xml;utf8,<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve"><g><g id="check-box-outline"><path d="M124.95,181.05l-35.7,35.7L204,331.5l255-255l-35.7-35.7L204,260.1L124.95,181.05z M408,408H51V51h255V0H51C22.95,0,0,22.95,0,51v357c0,28.05,22.95,51,51,51h357c28.05,0,51-22.95,51-51V204h-51V408z"/></g></g></svg>');
        }
      }
    }
  }

  .fr-screen-record {
    video {
      width: 100%;
    }
  }
}

